.movie-card {
    border: solid 1px rgb(255, 0, 0);
    padding: 2rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
.container {
    width: 1200px;
    margin: auto;
}

.movie-feed {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}